@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Normalize CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Diğer global stil ayarları buraya eklenebilir */

.swiper-button-prev:after, .swiper-button-next:after {
    color: white;
}
